.form {
  display: flex;
  justify-content: center;
  height: 80px;
  margin-bottom: 30px;
}

.input {
  border: none;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  width: 90%;
  background-color: #495259;
  color: #ffffff;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #ffffff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
