.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: #242628;
  width: 120px;
  height: 100vh;
}

.leftmenu {
  background-color: #353741;
  width: 350px;
  height: 100vh;
}

.content {
  background-color: #414348;
  width: 100%;
}
